/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



  body {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .175fr 1fr;
    grid-template-areas: 
    "header"
    "cont";
  }

  .head {
    grid-area: header;
    border: 1px solid black;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: end;
    overflow: visible;
    position: sticky;
    top: 0;



  }

  .nav { 
    width: 100%;
    height: 55%;
    background-color: rgb(92, 0, 0);
    border: 2px solid purple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    top: 0;
    position: sticky;
    /* align-self: start; */

  }

  #content {
    grid-area: cont;
    border: 8px solid black;
    background-image: url("./assets/goldenDragons5.png");
    background-size: calc(10.35rem + 4.25vh + 1.75%);
    /* background-size: contain; */
    background-position: center;
    background-repeat: repeat;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;

    

  }

  .navBtn {
    background-color: none;
    /* position: relative; */
    /* width: calc(1.75rem + 1.75vw + 75px);
    height: calc(.75rem + .75vh + 25px); */
    width: calc(4.25rem + 4.25vw);
    height: calc(2rem + 2vh);
    /* border-radius: 12px; */
    /* outline: 5px solid white; */
    /* border: none; */
    box-shadow: inset .25px .5px 3px 1.5px rgba(0, 0, 0, 1);
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 1); */

  }

  .navBtn:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
  }


  .testimonial {
    background-color: rgba(255, 255, 255, .8);
    max-width: 30%;
    padding: 7.5px;
    padding-left: 12px;
    padding-right: 12px;
    /* align-self: center; */
    justify-self: center;

    border-radius: 12px;
    white-space: pre-line;
  }